body {
color:black;
background-color:white;
background-image:url(http://pre10.deviantart.net/15e7/th/pre/f/2016/012/9/6/feel_and_conquer_by_yuumei-d9ngjsi.jpg);
background-attachment:fixed;
background-repeat:no-repeat;
}
